{% extends 'layouts/account-layout.html.twig' %}
{% import 'macros/advert-macros.html.twig' as advertElements %}
{% block accountTitle %}
    Vos annonces en cours
{% endblock %}


{% block accountContent %}
    {% for advert in adverts %}
        {% if loop.index0 % 2 == 0 %}
        <div class="row">
        {% endif %}
        {{ advertElements.advert_block(advert, 6) }}
        {% if loop.index0 % 2 == 1 or loop.last%}
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}
